.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  font-size: clamp(1em, 1.3em, 3em);
  text-align: center;
}

.avatar {
  align-items: center;
  text-align: center;
  align-content: center;
}

.avatarCircular {
  border-radius: 50%;
}
