.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h2 {
  text-align: center;
}
.layout h1 {
  text-align: center;
  font-size: clamp(1em, 1em, 1em);
}

.avatar {
  align-items: center;
  text-align: center;
  align-content: center;
}

.postStyles {
  padding-right: 25px;
  padding-left: 25px;
  font-size: 0.9em;
  font-weight: bold;
}
