/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .main-wrapper {
  overflow-y: scroll !important;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.cleanList {
  list-style: none;
  padding: 12%;
  margin: 0;
}

.menuContainer {
  grid-column: 5 / 9;
  text-align: left;
}

.headerContainer {
  grid-column: 1 / 10;
  text-align: center;
  margin-top: 2vh;
  padding-left: 25vw;
  padding-right: 25vw;
}

@media screen and (max-width: 996px) {
  .menuContainer {
    grid-column: 2 / 12;
    text-align: left;
  }
}

.button {
  background: rgba(0, 0, 0, 0.15);
  border: 4px solid var(--border-primary-color);
  border-radius: 75px;
  padding: 20px 0 20px 0;
  margin: 0 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  color: var(--text-primary-color);
  /* box-shadow: 0 0 20px rgba(0, 255, 157, 0.2),
    inset 0 0 20px rgba(239, 240, 242, 0.1); */
  backdrop-filter: blur(15px);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.3s ease;
  margin-top: 2vh;
}

.button:hover {
  /* transform: scale(1.02); */
  border: 4px solid var(--border-primary-color);
  color: var(--text-primary-color);
  box-shadow: 0 0 33px var(--text-primary-color),
    inset 0 0 20px rgba(0, 255, 157, 0.2);
}