:root {
  --avatar-size: 300px;
}

.features {
  display: flex;
  align-items: left;
  padding: 2rem 0;
  width: 100;
  transform: rotate3d(1, 2, 1, 180deg);
}

.featureImg {
  height: fit-content(var(--avatar-size));
  width: fit-content(var(--avatar-size));
  border-radius: 50%;
  border: 5px solid var(--border-primary-color);
  padding: 1em;
  position: relative;
  box-shadow:
    0 0 15px var(--text-primary-color),
    inset 0 0 5px var(--text-primary-color),
    inset 0 0 15px var(--text-primary-color),
    inset 0 0 25px var(--text-primary-color);
  overflow: hidden;
  /* animation: animAvatarMirror 5s linear infinite; */
}

/* @keyframes animAvatarMirror {
  0%   {  transform: rotate3d(1, 1, 1, 0deg); }
  25%  {  transform: rotate3d(1, 1, 1, 90deg); }
  50%  {  transform: rotate3d(1, 1, 1, 180deg); }
  100% {  transform: rotate3d(1, 1, 1, 360deg); }
} */